@use './_variables' as *

$light: (

//Base
color-primary: $color-primary,
color-secondary: $color-secondary,
color-tertiary: $color-tertiary,
color-quaternary: $color-quaternary,
color-quinary: $color-quinary,

//Background
bg-base: $color-quinary,
bg-alt: $color-quaternary,

//Text
text-primary: $color-primary,
text-secondary: $color-secondary,

//Links
nav-link-color: $color-primary,
nav-link-hover: $color-secondary,
nav-link-active: $color-secondary,

//Status
danger: $color-primary,
success: $color-tertiary,

//Border
border-primary: $color-primary,
border-secondary: $color-secondary,

//Buttons
btn-primary-bg: $color-primary,
btn-primary-bg-hover: $color-tertiary,
btn-primary-text: $color-quinary,
btn-primary-text-hover: $color-primary,
btn-primary-border: $color-primary,
btn-primary-border-hover: $color-tertiary,

btn-secondary-bg: $color-secondary,
btn-secondary-bg-hover: $color-tertiary,
btn-secondary-text: $color-quinary,
btn-secondary-text-hover: $color-secondary,
btn-secondary-border: $color-secondary,
btn-secondary-border-hover: $color-tertiary,

//Fields
field-bg: $color-quinary,
field-border: $color-primary,
field-border-focus: $color-secondary,
field-border-filled: $color-secondary,
field-border-error: $color-quaternary,
field-border-success: $color-secondary,
field-text: $color-primary,

)

$dark: (

//Base
color-primary: $color-primary,
color-secondary: $color-secondary,
color-tertiary: $color-tertiary,
color-quaternary: $color-quaternary,
color-quinary: $color-quinary,

//Background
bg-base: $color-primary,
bg-alt: $color-quinary,

//Text
text-primary: $color-quinary,
text-secondary: $color-secondary,

//Links
nav-link-color: $color-secondary,
nav-link-hover: $color-primary,
nav-link-active: $color-primary,

//Status
danger: $color-primary,
success: $color-tertiary,

//Border
border-primary: $color-tertiary,
border-secondary: $color-secondary,

//Buttons
btn-primary-bg: $color-tertiary,
btn-primary-bg-hover: $color-secondary,
btn-primary-text: $color-primary,
btn-primary-text-hover: $color-quinary,
btn-primary-border: $color-tertiary,
btn-primary-border-hover: $color-secondary,

btn-secondary-bg: $color-secondary,
btn-secondary-bg-hover: $color-tertiary,
btn-secondary-text: $color-quinary,
btn-secondary-text-hover: $color-primary,
btn-secondary-border: $color-secondary,
btn-secondary-border-hover: $color-tertiary,

//Fields
field-bg: $color-primary,
field-border: $color-tertiary,
field-border-focus: $color-quinary,
field-border-filled: $color-tertiary,
field-border-error: $color-quaternary,
field-border-success: $color-tertiary,
field-text: $color-quinary,

)
