@use '../styles/abstracts/_mixins' as mixin

.notfound-page
  padding-top: 80px
  padding-bottom: 80px
  position: relative
  font-family: var(--font-primary)

.notfound-page__content
  margin: 0
  display: flex
  flex-direction: column
  align-items: center
  gap: 30px

.notfound-page__title-text
  font-weight: var(--fw-bold)
  color: var(--color-primary)
  font-size: 100px

.notfound-page__text
  font-weight: var(--fw-regular)
  color: var(--color-primary)
  font-size: 20px

@include mixin.media(lg)
  .notfound-page
    padding: 65px 0

@include mixin.media(sm)
  .notfound-page
    padding: 55px 0

  .notfound-page__title-text
    font-size: 65px

  .notfound-page__text
    font-size: 18px
