@use '../abstracts/_variables' as var
@use '../abstracts/_mixins' as mixin

:root
  //Fonts
  --font-primary: #{var.$font-primary}
  --fw-regular: #{var.$fw-regular}
  --fw-medium: #{var.$fw-medium}
  --fw-semibold: #{var.$fw-semibold}
  --fw-bold: #{var.$fw-bold}

  //Colors
  --color-white: #{var.$color-white}
  --color-black: #{var.$color-black}

  //Transitions
  --transition: #{var.$transition}
